<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapago.mapper.email.EmailMapper">

    <insert id="insertEmail" parameterType="com.mapago.model.email.Email" useGeneratedKeys="true" keyProperty="emailId">
        INSERT INTO TB_EMAIL (ADDRESS, SUBJECT, CONTENT, cre_id, upd_id)
        VALUES(
        #{address},
        #{subject},
        #{content},
        #{creId},
        #{updId}
        )
    </insert>

</mapper>